@font-face {
  font-family: "lexend deca";
  src: url(../../fonts/LexendDeca-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "big shoulders display";
  src: url(../../fonts/BigShouldersDisplay-Regular.ttf);
  font-weight: 700;
}

$lexend: "lexend deca", sans-serif;
$shoulders: "big shoulders display", sans-serif;
